<!-- <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54" style="margin-left: 32%; margin-top: 2%">

    <span class="login100-form-title p-b-49">
        <b>Login</b>
    </span>
    <div>
        <label><b>Email</b></label>
        <br>
        <input type="text" class="input100" [(ngModel)]="email" placeholder="Type Your Email">
    </div>
    <div>
        <label><b>Password</b></label>
        <br>
        <input type="password" class="input100" [(ngModel)]="password" placeholder="Type Your Password">
    </div>
    <div class="text-right p-t-8 p-b-31">
        <button (click)="forgotemail()">
            Lupa Email ?
        </button>
        <br><br>
        <button (click)="forgot()" [disabled]="!email">
            Lupa Password ?
        </button>
    </div>
    <div class="wrap-login100-form-btn">
        <div class="login100-form-bgbtn"></div>
        <button class="login100-form-btn" (click)="login()" [disabled]="!email || !password">
            <b style="margin-right: 5%">LOGIN</b>
        </button>
    </div>
    <div class="txt1 text-center p-t-54 ">
        <span>
            <b>Atau Login Dengan Nomor HP</b>
        </span>
    </div>
    <br><br>
    <label for="phone"><b>Nomor HP</b></label>

    <div class="txt1 text-center p-b-20">
        <input type="text" [(ngModel)]="phoneNumber.phone" placeholder="ex: 62899xxxx" class="input100">

        <div id="recaptcha-container"></div><br>
        <div class="wrap-login100-form-btn" style="width: 51%">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" (click)="sendLoginCode()">
                <b style="margin-right: 5%">Minta Verifikasi Kode</b>
            </button>
        </div>
        <div *ngIf="windowRef.confirmationResult">
            <br><br>
            <span>
                <b>Masukkan Kode Verifikasi</b>
            </span><br>
            <input type="text" name="code" [(ngModel)]="verificationCode" class="input100">
            <div class="wrap-login100-form-btn" style="width: 51%">
                <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn" (click)="verifyLoginCode()">
                    <b style="margin-right: 5%">Verifikasi</b>
                </button>
            </div>
        </div>
    </div>

</div> -->
<div class="background-wrap">
    <div class="background"></div>
</div>

<form class="formlogin" id="accesspanel" action="login" method="post">
    <h1 id="litheader">WELCOME</h1>
    <div class="inset">
        <p>
            <input type="text1" [(ngModel)]="email" name="email" placeholder="Email address">
        </p>
        <p>
            <input type="password" [(ngModel)]="password" name="password" placeholder="Access code">
        </p>
        <div style="text-align: center;">
            <div class="checkboxouter">
                <input type="checkbox" name="rememberme" id="remember" value="Remember">
                <label class="checkbox"></label>
            </div>
            <label for="remember">Forget me for ever ?</label>
            <br>
            <input class="loginLoginValue" type="hidden" name="service" value="login" />
            <p class="p-container">
                <input type="submit1" (click)="login()" [disabled]="!email || !password" name="Login" id="go"
                    value="LOGIN">
            </p>
            <label for="remember">Atau login dengan nomor hp </label>
            <br>
            <!-- <label for="phone"><b>Nomor HP</b></label> -->
            <input type="text1" [(ngModel)]="phoneNumber.phone" name="phone" placeholder="ex: 62899xxxx">
            <div id="recaptcha-container"></div><br>
            <p class="p-container">
                <input type="submit1" name="kodeverifikasi" value="Minta Verifikasi Kode" (click)="sendLoginCode()">
            </p>
            <div *ngIf="windowRef.confirmationResult">
                <span>
                    <b>Masukkan Kode Verifikasi</b>
                </span><br>
                <input type="text1" name="code" [(ngModel)]="verificationCode">
                <div>
                    <input type="submit1" name="verifikasi" value="Verifikasi" (click)="verifyLoginCode()">
                </div>
            </div>

        </div>
    </div>
</form>