<button type="button" class="btn btn-primary" (click)="logout()" *ngIf="authService.user | async">
  Logout
</button>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<div class="container">

  <h1 style="margin-top: 25px; text-align: center; color: white">
    {{title}}
  </h1>

  <div class="row" style="margin-top: 25px;">
    <div class="col-md-3">
      <label style="color: white"><b>Nama</b></label>
      <input type="text" class="form-control" [(ngModel)]="studentName" placeholder="ex : Rizky">
    </div>
    <div class="col-md-3">
      <label style="color: white"><b>Umur</b></label>
      <input type="text" class="form-control" [(ngModel)]="studentAge" placeholder="ex : 19">
    </div>
    <div class="col-md-3">
      <label style="color: white"><b>Jenis Kelamin</b></label>
      <select class="form-control" [(ngModel)]="studentGender">
        <option value="Laki - Laki">Laki - Laki</option>
        <option value="Perempuan">Perempuan</option>
      </select>
    </div>
    <div class="col-md-3">
      <label style="color: white"><b>Alamat</b></label>
      <input type="text" class="form-control" [(ngModel)]="studentAddress" placeholder="ex : Jalan...">
    </div>
    <div class="col-md-3">
      <br>
      <label style="color: white"><b>Nomor HP</b></label>
      <input type="text" class="form-control" [(ngModel)]="studentPhone" placeholder="ex : 08986221xxx">
    </div>
    <div class="col-md-3">
      <br>
      <label style="color: white"><b>Status</b></label>
      <select class="form-control" [(ngModel)]="studentStatus">
        <option value="AKTIF"><b>AKTIF</b></option>
        <option value="TIDAK AKTIF"><b>TIDAK AKTIF</b></option>
      </select>
    </div>

  </div>
  <div>
    <br>
    <button type="button" (click)="CreateRecord()"
      [disabled]="!studentName || !studentAge || !studentAddress || !studentGender || !studentPhone"
      class="btn btn-primary">+
      Buat Data Murid</button>
  </div>
  <div class="row" style="margin-top: 25px;">
    <div class="row" style="border-style: double">
      <div class="card" style="width: 18rem; background-color: transparent" *ngFor="let item of students">
        <div class="card-body" *ngIf="!item.isEdit; else elseBlock" style="color: white">
          <h5 class="card-title">{{item.Name}}</h5>
          <h6 class="card-subtitle mb-2 ">Umur : {{item.Age}} Tahun</h6>
          <p class="card-text">Jenis Kelamin : {{item.Gender}}</p>
          <p class="card-text">Alamat : {{item.Address}}</p>
          <p class="card-text">No HP : {{item.Phone}}</p>
          <p class="card-text">Status : <b>{{item.Status}}</b></p>
          <button type="button" class="btn btn-primary" (click)="EditRecord(item)">Ubah</button>
          <button type="button" class="btn btn-primary" (click)="RemoveRecord(item.id)">Hapus</button>
        </div>
        <ng-template #elseBlock>
          <div class="card-body">
            <h5 class="card-title" style="color: white">Ubah Data Murid</h5>
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="item.EditName" placeholder="Ubah Nama">
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="item.EditAge" placeholder="Ubah Umur">
                </div>
                <div class="col-md-12">
                  <select class="form-control" [(ngModel)]="item.EditGender" placeholder="Pilih Jenis Kelamin">
                    <option value="Laki - Laki">Laki - Laki</option>
                    <option value="Perempuan">Perempuan</option>
                  </select>
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="item.EditAddress" placeholder="Ubah Alamat">
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="item.EditPhone" placeholder="Ubah No HP">
                </div>
                <div class="col-md-12">
                  <select class="form-control" [(ngModel)]="item.EditStatus">
                    <option value="AKTIF"><b>AKTIF</b></option>
                    <option value="TIDAK AKTIF"><b>TIDAK AKTIF</b></option>
                  </select>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary" (click)="item.isEdit = false">Batal</button>
            <button type="button" class="btn btn-primary" (click)="UpdateRecord(item)">Perbarui</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>


</div>